name: avatar_rings
description: Custom user profile widget, waves-like rings around, badges, status points, and many more customizations.
version: 0.1.3
repository: https://github.com/deam91/avatar_rings

platforms:
  android:
  ios:

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  very_good_analysis: ^5.1.0
